html,
body{
	margin:0;
	padding: 0;
	width: 100%;
}
h1{
	margin-top: 50px;
	text-align: center;
}

.container {
	width: 700px;
	margin: auto;
	height: 700px;
	border: solid 4px black;
	margin-top: 100px;
	/* padding: 10px; */

}
.container .grid{
	gap: 100px;
	display: grid;
	width: 100%;
	height: 100%;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	row-gap: 10px;
	column-gap: 10px;

}
.container .item{
	border: solid 1px black;
	opacity: 0.3;
	position: relative;
}

.item:nth-child(1){
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: green;
}
.item:nth-child(2){
	background-color: green;
}
.item:nth-child(3){
	background-color: green;
}
.item:nth-child(4){
	background-color: green;
}
.item:nth-child(5){
	background-color: green;
}
.item:nth-child(6){
	background-color: green;
}
.item:nth-child(7){
	background-color: green;
}
.item:nth-child(8){
	background-color: green;
}


.item:nth-child(1)::after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: red;
	width: 110%;
	height: 110px;
	font-weight: 900;
	font-size: 2em;
}
.item:nth-child(1):hover::after{
	content: "PINK";
}